@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font: 18px/1.5 'PT Sans', sans-serif;
}
body {
    background-image: url('images/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif";
}
.container {
    max-width: 1400px;
    margin: 0 auto;  
}
.site-section.baner {
    /* background: #2d4c97; */
}
.site-section.baner .container {
    color: white;
}
.site-section.baner .container h2 {
    font-size: 48px;
    font-weight: normal;
    line-height: 1.26;
    margin-bottom: 1rem;
}
.site-section.baner p {
    font-size: 1.2em;
    max-width: 40rem;
}
.site-section {
    padding: 2em;
}
.site-header {
    display: flex;
    justify-content: space-between;
    /* background: #2d4c97; */
}
.site-header nav ul {
    display: flex;
}
.site-header nav li {
    list-style: none outside;
    text-decoration: none;
    padding: 0 0.8em;
    text-transform: uppercase;
}
.site-header nav li a{
    color: white;
    text-decoration: none;
}
.site-title a {
    display: block;
    width: 110px;
    height: 86px;
    overflow: hidden;
    text-indent: -200vw;
    background-image: url('images/logo.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
a.button {
    position: absolute;
    padding: 0.4em 0.5em;
    text-decoration: none;
    border: 2px solid brown;
    background-color: white;
    color: brown;
}
.site-section.columns {
    padding: 4em;
    border-bottom: 2px solid #ccc;
    background: white;
}
.site-section.sponsors,
.site-section.partners {
    background: white;
    text-align: center;
}
.site-section.sponsors h2,
.site-section.partners h2 {
    color: brown;
}
.sponsors {
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 2em 0 0;
}
.sponsors li {
    list-style: none outside;
    display: block;
    width: 9em;
    aspect-ratio: 1/1;
    background: #eee;
    padding: 1em;
    border-radius: 50%;
}
.sponsors li a img {
    display: block;
    width: 100%;
    height: auto;
}
.column-container {
    display: flex;
    gap: 2em;
}
.site-footer {
    background: #171720;
    color: white;
    padding-left: 1em;  
}
.site-footer ul li {
    list-style: none;
    text-transform: uppercase;
    padding-left: 1em;
}
.site-footer:last-child {
    border-top: 1px solid rgb(255,255,255,0.3);
}
h4 {
    padding: 1em;
}