* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif; 
}

body, input, button {
    font: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    padding: 2em;
    min-height: 100vh;
}

form {
    background: #fff;
    border-radius: 0.3em;
    display: block;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

label {
    display: block;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 0.2em;
}

.field {
    display: flex;
    flex-direction: column;
}


input[type="text"],
input[type="password"] {
    display: block;
    padding: 0.2em 0.2em;
    border: 2px solid #ccc;
    border-radius: 0.3em;
    outline:none
}

input[type="text"]:invalid,
input[type="password"]:invalid {
    border-color:black;
}

input[type="text"]:valid,
input[type="password"]:valid {
    border-color:greenyellow;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color:orangered;
}

input[type="submit"] {
    display: block;
    margin-top: 1em;
    padding: 0.2em 0.2em;
    border: none;
    border-radius: 0.3em;
    background: #eee;
    cursor: pointer;
    outline:none
}

input[type="submit"]:focus {
    border-color:orangered;
}

input[type="submit"]:hover {
    background: orangered;
    color: #fff;
}